<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054455134491-mf9k6i1lluong8r67o6jhgin42n0n96v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054455134491-mf9k6i1lluong8r67o6jhgin42n0n96v</string>
	<key>API_KEY</key>
	<string>AIzaSyAwCL-Qj2IDFsh1_bmvjKAAVG_NuubXrxU</string>
	<key>GCM_SENDER_ID</key>
	<string>1054455134491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>flutterapplication-c4012</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapplication-c4012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054455134491:ios:4704fafa121a8fedc8bbbe</string>
</dict>
</plist>